@using ProjetCESI.Web.Models
@model UserViewModel

@{
    ViewData["Title"] = "ProfilUser";
}


<div class="container">
    <h1><span>Gestion du Profil : @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)</span></h1>
    <form method="post" asp-action="UpdateProfilUser">
        <div class="accordion" id="exempleAccordeon">
            <div class="card">
                <div class="card-header" id="header1">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Modification pseudo</button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="header1" data-parent="#exempleAccordeon">
                    <div class="card-body">
                        
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                                Nouveau pseudo :
                                <input placeholder="@Model.Utilisateur.UserName" value="@Model.Utilisateur.UserName" name="newUsername" />
                                <a class="alert alert-success" >Les caractères spéciaux ne sont pas autorisé dans le pseudo</a>
                            </label>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer" class="btn btn-primary"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" asp-action="UpdateEmail">
        <div class="card">
            <div class="card-header" id="header2">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Modification Email</button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#exempleAccordeon">
                <div class="card-body">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                                Nouvelle adresse Email :
                                <input placeholder="@Model.Utilisateur.Email" value="@Model.Utilisateur.Email" name="newEmail" />
                                <a class="alert alert-success">L'email ne doit pas déjà être utilisé pour un autre compte.</a>
                        </label>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" asp-action="">
        <div class="card">
            <div class="card-header" id="header3">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Modification mot de passe</button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#exempleAccordeon">
                <div class="card-body">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                            <button type="button" class="btn btn-outline-info">
                                @Html.ActionLink("Modifier mot de passe", "UpdatePassword", new { id = Model.Utilisateur.Id })
                            </button>
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header" id="header4">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" style="color:red;">Suppresion du compte</button>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="header4" data-parent="#exempleAccordeon">
            <div class="card-body">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                        <button type="button" class="btn btn-outline-danger" icon="">
                            @Html.ActionLink("Supprimer le compte", "ConfirmationAnonyme", new { id = Model.Utilisateur.Id })
                        </button>
                        <a class="alert alert-danger">Si vous cliquez sur le bouton, vous allez accéder à la page de confirmation de suppresion du compte</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
        font-family: 'Trebuchet MS';
        
        background: linear-gradient(#fff 0%, #fff 45%, #08cbce 46%, #08cbce 54%, #fff 54%, #fff 100%);
        background: -webkit-linear-gradient( #fff 0%, #fff 45%, #08cbce 46%, #08cbce 54%, #fff 54%, #fff 100%);
        background: -moz-linear-gradient( #fff 0%, #fff 45%, #7c8d07 46%, #7c8d07 54%, #fff 54%, #fff 100%);
        background: -o-linear-gradient( #fff 0%, #fff 45%, #7c8d07 46%, #7c8d07 54%, #fff 54%, #fff 100%);
    }

    h1 span{
        background: #fff;
        padding: 0 20px;
    }
</style>
