@using ProjetCESI.Web.Models
@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "UpdatePassword";
}

<h2>Modification de votre mot de passe</h2>
<div>

    @using (Html.BeginForm("UpdatePassword", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, true, htmlAttributes: new { @id = "formUpdatePassword", @class = "UpdatePassword-form", @data_login_form = "true" }))
    {
        <div>
            <div asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="login-form__input Espace-form">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mot de passe" })
            @Html.ValidationMessageFor(m => m.Password)
            <i class="fa fa-unlock-alt inputIcon"></i>
        </div>
        <div class="login-form__input Espace-form">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nouveau mot de passe" })
            @Html.ValidationMessageFor(m => m.NewPassword)
            <i class="fa fa-unlock-alt inputIcon"></i>
        </div>
        <div class="login-form__input Espace-form">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmer le nouveau mot de passe" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <i class="fa fa-unlock-alt inputIcon"></i>
        </div>

        <button id="btnValidation" style="position:relative" class="btn btn--primary btn--block text--center loaderPage login-form__submit btn btn-success Espace-form" data-left-position="30px" type="submit">
            <span class="text--center">Enregistrer</span>
        </button>
    }


</div>