@using ProjetCESI.Web.Models
@model ListRessourceViewModel

@if (Model.Ressources != null && Model.Ressources.Any())
{
    <div class="row">
        @foreach (var ressource in Model.Ressources)
        {
            @if (ressource.TypePartage == ProjetCESI.Core.TypePartage.Public)
            {
                <div class="col-sm-6" id="ressource-card" style="margin-top: 0.5em;">
                    <a href="/Ressource/@ressource.Id">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 title="@ressource.Titre">
                                        @(ressource.Titre.Length > 30 ? $"{ressource.Titre.Substring(0, 30).TrimEnd()}...": ressource.Titre)
                                        <span>
                                            @if (ressource.RessourceOfficielle)
                                            {
                                                <img title="Ressource officielle" src="~/images/008-check.png" width="16" />
                                            }
                                        </span>
                                    </h5>
                                    <small>Publié le @ressource.DateModification.ToString("dd/MM/yyyy")</small>
                                </div>
                                <div class="d-flex justify-content-between" style="height: 100%">
                                    <p class="card-text" style="margin-bottom: 0">
                                        <span class="badge badge-pill badge-primary">@ressource.Categorie.Nom</span><br />
                                        <span class="badge badge-pill badge-secondary">@ressource.TypeRessource.Nom</span><br />
                                        @foreach (var relation in ressource.TypeRelationsRessources)
                                        {
                                            <span class="badge badge-pill badge-success">@relation.TypeRelation.Nom</span>
                                        }
                                    </p>
                                    <span>
                                        par @ressource.UtilisateurCreateur.UserName
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        }
    </div>
}
else
{
    <h3 class="text-center m-5">
        Aucune ressource n'a été trouvé
    </h3>
}