@using ProjetCESI.Web.Models
@model CommentairesViewModel

@if (Model.Commentaires != null && Model.Commentaires.Any())
{
    @foreach (var commentaire in Model.Commentaires)
    {
<div class="commentaire">
    <div class="d-inline-flex" style="width: 100%;">
        <div style="width: 100%;">
            <div class="d-inline-flex">
                <span style="font-weight:bold;">@commentaire.Utilisateur.UserName</span>&nbsp;
                <span>Publié le @commentaire.DateModification.ToString("dd/MM/yyyy HH:mm") @(commentaire.DateCreation < commentaire.DateModification ? "(Modifié)" : "")</span>
            </div>
            @if (commentaire.Statut != ProjetCESI.Core.StatutCommentaire.Suspendu && User.Identity.IsAuthenticated && (Model.Utilisateur.Id == commentaire.UtilisateurId || Model.UtilisateurRole != ProjetCESI.Core.TypeUtilisateur.Citoyen))
            {
                <button class="btn btn-primary" style="position: relative; float: right;" type="button" onclick="deleteComment(@commentaire.Id)">Supprimer</button>
            }
            @{
                var comms = commentaire.Texte.Split("\\n");
            }
            @foreach (var comm in comms)
            {
                @if (!string.IsNullOrEmpty(comm))
                {
                    if (commentaire.Statut == ProjetCESI.Core.StatutCommentaire.Suspendu)
                    {
                        <span class="d-block" style="font-style: italic; word-break: break-word;">@comm</span>
                    }
                    else
                    {
                        <span class="d-block" style="word-break: break-word;">@comm</span>
                    }
                }
                else
                {
                    <span class="d-block">&nbsp;</span>
                }
            }
            @if (User.Identity.IsAuthenticated)
            {
                <button class="d-block btn btn-primary" id="button-@commentaire.Id" onclick="$('#collapseEditor-@commentaire.Id').collapse('show');">Répondre</button>
                <div class="reponse-editor collapse" id="collapseEditor-@commentaire.Id">
                    <textarea class="commentaire-editor" id="response-editor-@commentaire.Id" placeholder="Ajouter une réponse..." rows="1" onkeyup="updateSubmitButton(@commentaire.Id)" onfocus="autosize(document.getElementById('response-editor-@commentaire.Id'));"></textarea>
                    <div id="submit-btn-@commentaire.Id">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger" id="annuler-commentaire" onclick="$('#collapseEditor-@commentaire.Id').collapse('toggle'); resetEditor(document.getElementById('response-editor-@commentaire.Id')); ">Annuler</button>
                            <button class="btn btn-primary" id="response-submit-@commentaire.Id" form="form-@commentaire.Id" onclick="submitReponseForm(@commentaire.Id, @commentaire.RessourceId, @Model.Utilisateur.Id)" disabled>Envoyer</button>
                        </div>
                    </div>
                </div>
            }
            @if (commentaire.CommentairesEnfant.Any())
            {
                <span class="toggle-response" id="comments-@commentaire.Id" onclick="toggleResponse(@commentaire.Id, @commentaire.CommentairesEnfant.Count)">
                    Afficher les @commentaire.CommentairesEnfant.Count réponses
                </span>
                <div class="collapse" id="collapseResponse-@commentaire.Id">
                    @foreach (var commentaireEnfant in commentaire.CommentairesEnfant)
                    {
                        <div class="reponse">
                            <div class="d-inline-flex">
                                <div>
                                    <div class="d-inline-flex justify-content-between">
                                        <div>
                                            <span style="font-weight:bold;">@commentaireEnfant.Utilisateur.UserName</span>&nbsp;
                                            <span>Publié le @commentaireEnfant.DateModification.ToString("dd/MM/yyyy HH:mm") @(commentaireEnfant.DateCreation < commentaireEnfant.DateModification ? "(Modifié)" : "")</span>
                                        </div>
                                    </div>

                                    @{
                                        comms = commentaireEnfant.Texte.Split("\\n");
                                    }

                                    @foreach (var comm in comms)
                                    {
                                        @if (!string.IsNullOrEmpty(comm))
                                        {
                                            <span class="d-block" style="word-break: break-word;">@comm</span>
                                        }
                                        else
                                        {
                                            <span class="d-block">&nbsp;</span>
                                        }
                                    }
                                </div>
                            </div>
                            @if (User.Identity.IsAuthenticated && Model.Utilisateur.Id == commentaire.UtilisateurId || Model.UtilisateurRole != ProjetCESI.Core.TypeUtilisateur.Citoyen)
                            {
                                <button class="btn btn-primary" style="position: relative; float: right;" type="button" onclick="deleteComment(@commentaire.Id)">Supprimer</button>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
    }
}
else
{
    <p>
        Aucun commentaires
    </p>
}