@using ProjetCESI.Web.Models
@model UserViewModel

@{
    ViewData["Title"] = "BanTempo";
}

<div class="jumbotron">
    <h1>Bloquer le user</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="BanTemporary">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                        @Html.CheckBox("Lockout", Model.Utilisateur.LockoutEnd)
                        Bloquer @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)
                    </label>

                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer le ban" class="btn btn-primary" />
                </div>
            </form>

            <form method="post" asp-action="DeBanUser">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                        @Html.CheckBox("Unlock", Model.Utilisateur.LockoutEnd)
                        Débloquer @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)
                    </label>

                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer le déban" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>