@using ProjetCESI.Web.Models
@model UserViewModel

@{
    ViewData["Title"] = "BanTempo";
}

@ViewData["Message"]


<div class="container">
    <h1><span>Gestion du blocage de l'utilisateur : @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)</span></h1>
    <div class="accordion" id="exempleAccordeon">
        <div class="card">
            <div class="card-header" id="header1">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Bloquer en fonction des jours</button>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="header1" data-parent="#exempleAccordeon">
                <div class="card-body">
                    <form method="post" asp-action="BanTemporary">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                                Nombre de jours où le compte de @Html.DisplayFor(modelItem => Model.Utilisateur.UserName) sera bloqué :
                                @Html.TextBox("time") jours.
                            </label>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="header2">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Bloquer définitivement le compte de l'utilisateur</button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#exempleAccordeon">
                <div class="card-body">
                    <form method="post" asp-action="BanPermanent">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                                @Html.CheckBox("Ban", Model.Utilisateur.LockoutEnd)
                                Bannir définitivement @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)
                            </label>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Confirmer le banissement définitif" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="header3">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">Débloquer le compte de l'utilisateur</button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#exempleAccordeon">
                <div class="card-body">
                    <form method="post" asp-action="DeBanUser">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input hidden name="Id" type="text" value="@Model.Utilisateur.Id" />
                                @Html.CheckBox("Unlock", Model.Utilisateur.LockoutEnd)
                                Débloquer @Html.DisplayFor(modelItem => Model.Utilisateur.UserName)
                            </label>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Confirmer le déblocage du compte" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
        font-family: 'Trebuchet MS';
        background: linear-gradient(#fff 0%, #fff 45%, #08cbce 46%, #08cbce 54%, #fff 54%, #fff 100%);
        background: -webkit-linear-gradient( #fff 0%, #fff 45%, #08cbce 46%, #08cbce 54%, #fff 54%, #fff 100%);
        background: -moz-linear-gradient( #fff 0%, #fff 45%, #7c8d07 46%, #7c8d07 54%, #fff 54%, #fff 100%);
        background: -o-linear-gradient( #fff 0%, #fff 45%, #7c8d07 46%, #7c8d07 54%, #fff 54%, #fff 100%);
    }

        h1 span {
            background: #fff;
            padding: 0 20px;
        }
</style>