@using ProjetCESI.Web.Models
@model List<UserViewModel>

@{
    ViewData["Title"] = "UserList";
}

<br />
<br />
<br />
<body>
    <h1>Utilisateurs</h1>
    <br />

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nom d'utilisateur
                </th>

                <th>
                    Adresse mail
                </th>
                <th>
                    Ban jusqu'au
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Utilisateur.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilisateur.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilisateur.LockoutEnd)
                </td>
                <td>
                    <div><label hidden>@Html.DisplayFor(modelItem => item.Utilisateur.Id)</label></div>
                </td>
                <td>
                    <strong>
                        @*@Html.ActionLink("Modifier Rôle", "UpdateRole", new { id = item.Utilisateur.Id})*@
                        @Html.ActionLink("Ban", "BanTempo", "Admin", new { id = item.Utilisateur.Id })
                        @Html.ActionLink("Anonymiser", "AnonymeUser", "Admin", new { id = item.Utilisateur.Id })
                        @Html.ActionLink("Rôles", "UpdateRole", "Admin", new { id = item.Utilisateur.Id })
                    </strong>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>


@if (TempData["Utilisateur"] != null && bool.Parse(TempData["Utilisateur"].ToString()) == true)
{
    <div id="AlertBan">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Compte banni!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

}


