@using ProjetCESI.Web.Models
@model TableauDeBordViewModel

@{
    ViewData["Title"] = "Tableau de bord";
}

<div class="d-flex justify-content-around" id="menu-tableau-bord">
    <ul class="list-group list-group-horizontal-md">
        <li class="list-group-item @(Model.NomVue == "favoris" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=favoris">Ressources favorites</a>
        </li>
        <li class="list-group-item @(Model.NomVue == "exploitee" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=exploitee">Ressources exploitées</a>
        </li>
        <li class="list-group-item @(Model.NomVue == "miscote" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=miscote">Ressources mises de côté</a>
        </li>
        <li class="list-group-item @(Model.NomVue == "activites" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=activites">Mes activités</a>
        </li>
        <li class="list-group-item @(Model.NomVue == "privees" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=privees">Ressources privées</a>
        </li>
        <li class="list-group-item @(Model.NomVue == "crees" ? "active" : "")">
            <a class="nav-link" href="/TableauDeBord?nomVue=crees">Ressources créées</a>
        </li>
    </ul>
</div>

<nav aria-label="...">
    <div class="d-flex justify-content-between">
        <form action="/TableauDeBord" method="get" style="margin-bottom: 1rem;">
            @Html.HiddenFor(c => Model.NomVue)
            <input type="text" placeholder="Recherche..." name="Recherche" value="@Model.Recherche" />
            <input type="submit" value="Filtrer" />
        </form>
        @if (Model.NombrePages > 1)
        {
            <ul class="pagination pagination-sm">
                @for (int i = 1; i <= Model.NombrePages; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                @i
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    }
                    else
                    {
                        string link = string.Empty;

                        if (!string.IsNullOrEmpty(Model.Recherche))
                        {
                            link = $"/TableauDeBord?nomVue={Model.NomVue}&Recherche={Model.Recherche}&Page={i}";
                        }
                        else
                        {
                            link = $"/TableauDeBord?nomVue={Model.NomVue}&Page={i}";
                        }

                        <li class="page-item"><a class="page-link" href="@link">@i</a></li>
                    }
                }
            </ul>
        }
    </div>
</nav>

@if (Model.Ressources.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Type de relation</th>
                <th scope="col">Type de ressources</th>

                @if (Model.NomVue == "crees")
                {
                    <th scope="col">Statut</th>
                }
                else if (Model.NomVue == "activites")
                {
                    <th scope="col">Statut Activité</th>
                }

                @if (Model.NomVue != "activites" && Model.NomVue != "privees")
                {
                    <th scope="col">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var ressource in Model.Ressources)
            {
            <tr id="ressource-id-@ressource.Id">
                <th scope="row"><a href="/Ressource/@ressource.Id">@ressource.Titre</a></th>
                <td><span class="badge badge-pill badge-primary">@ressource.Categorie?.Nom</span></td>
                <td><span class="badge badge-pill badge-secondary">@ressource.TypeRessource?.Nom</span></td>
                <td>
                    @foreach (var relation in ressource.TypeRelationsRessources)
                    {
                        <span class="badge badge-pill badge-success text-center">@relation.TypeRelation?.Nom</span>
                    }
                </td>
                @if (Model.NomVue == "crees")
                {
                    <td>@Html.DisplayFor(c => ressource.Statut)</td>
                }
                else if (Model.NomVue == "activites")
                {
                    <td>@Html.DisplayFor(c => ressource.StatutActivite)</td>
                }
                @if (Model.NomVue != "activites")
                {
                    <td>
                        @if (Model.NomVue == "favoris")
                        {
                            <a href="#" onclick="removeFrom(@ressource.Id, '@Model.NomVue')">Supprimer des favoris</a>
                        }
                        else if (Model.NomVue == "exploitee")
                        {
                            <a href="#" onclick="removeFrom(@ressource.Id, '@Model.NomVue')">Supprimer des ressources exploitées</a>
                        }
                        else if (Model.NomVue == "miscote")
                        {
                            <a href="#" onclick="removeFrom(@ressource.Id, '@Model.NomVue')">Supprimer des ressources de côté</a>
                        }
                        else if (Model.NomVue == "crees")
                        {
                            <a href="/CreateArticle/Edit/@ressource.Id"><img src="~/images/edit.png" width="16"/></a>
                            <a href="#" onclick="removeFrom(@ressource.Id, '@Model.NomVue')"><img src="~/images/bin.png" width="16"/></a>
                        }
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    if (string.IsNullOrEmpty(Model.Recherche))
    {
        <h1>
            @if (Model.NomVue == "favoris")
            {
                <text>Aucune ressources dans vos favoris</text>
            }
            else if (Model.NomVue == "exploitee")
            {
                <text>Aucune ressources n'est marquées comme exploitée</text>
            }
            else if (Model.NomVue == "miscote")
            {
                <text>Aucune ressources n'est marquées comme mise de côté</text>
            }
            else if (Model.NomVue == "privees")
            {
                <text>Vous n'avez créé aucune ressources privées</text>
            }
            else if (Model.NomVue == "crees")
            {
                <text>Vous n'avez pas encore crée de ressource, vous pouvez en créer un cliquant <a href="/CreateArticle/Create">ici</a></text>
            }
            else if (Model.NomVue == "activites")
            {
                <text>Vous n'avez participé à aucunes activités</text>
            }
        </h1>
    }
    else
    {
        <h1>
            Aucun résultats trouvé pour votre recherche !
        </h1>
    }
}

@section Scripts {
    <script type="text/javascript">
        function removeFrom(ressourceId, what) {
            let url = '';

            if (what == "favoris")
                url = '/Ressource/SupprimerFavoris';
            else if (what == "exploitee")
                url = '/Ressource/SupprimerExploite';
            else if (what == "miscote")
                url = '/Ressource/SupprimerMettreDeCote';
            else if (what == "crees")
                url = '/Ressource/SupprimerRessource';

            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    ressourceId: ressourceId
                }
            })
                .done(function () {
                    document.getElementById('ressource-id-' + ressourceId).remove();
                });
        }
    </script>
}